<div class="container-custom" *ngIf="isAgentAvailable">
  <div class="connect-info-custom">
    <div class="connect-content-custom">

      <div id="agent">
        <div id="agentIcon"></div>
      </div>
      <div class="call-details-custom">
        <div class="agent-details-custom"></div>
        <div class="end-Phone" (click)="handleCloseCustom()">
          <div class="end-phone-icon"></div>
          <div class="end-phone-logo"></div>
        </div>
      </div>
    </div>

    <div class="red">

    </div>
    <div class="orange">

    </div>
    <div class="cyan">

    </div>
  </div>
</div>

<div class="connect-info" *ngIf="!isAgentAvailable">
  <div class="connect-content">
    <p class="connect-desc" translate>WillBeConnectRepresentativeMsg<br>
      <br>WillBeConnectRepresentativeMsgEn
    </p>
    <div class="outerLoading">
      <div class="loading"></div>
    </div>
    <div class="connect-phone-logo fix"></div>
  </div>
  <div class="red">

  </div>
  <div class="orange">

  </div>
  <div class="cyan">

  </div>
</div>